# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# MacOS system files
.DS_Store
